h1,
h2,
h3,
p {
  margin: 0;
}
body {
  color: rgb(184, 75, 93);
  background-color: rgb(8, 8, 8);
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.04em;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

.controll {
  position: absolute;
  bottom: 10%;
  display: inline-block;
  padding: 5px;
  border: 3px solid pink;
  border-radius: 5px;
  font-size: 30px;
  color: white;
  background: gray;
  width: 75px;
}
.controll--left {
  left: 10%;
}
.controll--right {
  right: 10%;
}
#info {
  right: 50%;
  transform: translateX(50%);
}
.wrapper {
  padding-top: 20px;
  position: relative;
  width: 90%;
  height: 90vh;
  margin: 0 auto;
}
.field {
  margin: 0 auto;
  position: relative;
  border: 3px dashed pink;
  height: 50vh;
}

.ball {
  position: absolute;
  font-size: 50px;
  transform: translateX(50%);
}
.paddle {
  display: inline-block;
  bottom: 10%;
  position: absolute;
  width: 100px;
  transform: translateX(50%);
  border: 3px solid pink;
}

.description {
  padding: 10px;
  margin: 0 auto;
  width: 250px;
  text-align: center;
}

.text-center {
  text-align: center;
  color: white;
}

#points {
  position: absolute;
  top: 5%;
  right: 5%;
}

#fail {
  position: absolute;
  top: 50%;
  transform: translateX(50%);
  right: 50%;
  font-size: 30px;
  display: none;
}

.is-hidden {
  display: none;
}
#backdrop {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: gray;
}
.modal {
  background-color: black;
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
