h1,
h2,
h3,
p {
  margin: 0;
}
body {
  color: rgb(184, 75, 93);
  background-color: rgb(8, 8, 8);
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.04em;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}
