.controll {
  position: absolute;
  bottom: 10%;
  display: inline-block;
  padding: 5px;
  border: 3px solid pink;
  border-radius: 5px;
  font-size: 30px;
  color: white;
  background: gray;

  &--left {
    left: 10%;
  }
  &--right {
    right: 10%;
  }
}

.wrapper {
  padding-top: 20px;
  position: relative;
  width: 90%;
  height: 90vh;
  margin: 0 auto;
}
.field {
  margin: 0 auto;
  position: relative;
  border: 3px dashed pink;
  height: 50vh;
}

.ball {
  top: 5%;
  right: 50%;
  position: absolute;
  font-size: 50px;
}
.paddle {
  display: inline-block;
  bottom: 10%;
  position: absolute;
  right: 45%;
  width: 15%;
  border: 3px solid pink;
}

.description {
  text-align: center;
}

.text-center {
  text-align: center;
  color: white;
}

#dot {
  position: absolute;
  bottom: 10%;
}
